parameters:
    level: 7
    paths:
        - src
    excludes_analyse:
        - src/Infrastructure/Shared/Persistence/Migrations
        - src/Infrastructure/Shared/Persistence/DataFixtures
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon